---
---

$primary: #565656;
$primary-highlight: #757575;

$secondary: white;
$secondary-alternate: #EAEAEA;

$link-color: darkblue;
$highlight-color: orange;

$collapse-time: 300ms;
$fade-time: 50ms;

@mixin filter($value) {
  -webkit-filter: $value;
  filter: $value;
}


// ********************************************************
//  Dark mode vs light mode
// ********************************************************

@mixin lightmode-colors {
  --col-primary: #{$primary};
  --col-primary-highlight: #{$primary-highlight};

  --col-secondary: #{$secondary};
  --col-secondary-alternate: #{$secondary-alternate};

  --col-link: #{$link-color};

  --col-highlight: #{$highlight-color};
  --col-highlight-alternate: #{change-color($highlight-color, $alpha: 0.2)};

  --col-highlight-secondary: lightblue;
}
@mixin darkmode-colors {
  --col-primary: white;
  --col-primary-highlight: #EAEAEA;

  --col-secondary: #565656;
  --col-secondary-alternate: #757575;

  --col-link: lightblue;

  --col-highlight: orange;
  //--col-highlight-alternate: #{change-color(orange, $alpha: 0.2)}; // not used

  --col-highlight-secondary: lightblue;
}

@mixin if-dark-mode {
  $darkmode-aux-selector: #{if(&, '&', '')};
  @media (prefers-color-scheme: dark) {
    @at-root :root:not(:has(#darkmode-checkbox:checked)) #{$darkmode-aux-selector} {
      @content;
    }
  }
  @media (prefers-color-scheme: light) {
    @at-root :root:has(#darkmode-checkbox:checked) #{$darkmode-aux-selector} {
      @content;
    }
  }
}

@mixin invert-if-dark-mode {
  @include if-dark-mode {
    @include filter(invert(100%));
  }
}
@mixin invert-if-light-mode {
  @include filter(invert(100%));
  @include if-dark-mode {
    @include filter(none);
  }
}

:root {
  @include lightmode-colors;
}
@include if-dark-mode {
  @include darkmode-colors;
}


#darkmode-checkbox {
  visibility: hidden;

  & + label[for='darkmode-checkbox'] {
    position: fixed;
    right: 0.5em;
    top: 0.75em;
    text-align: right;

    &::after {
      display: block;
      content: "";
      color: var(--col-primary);

      height: 1em;
      width: 1em;
      margin:0.5em;

      background: url(/images/moon.svg) no-repeat 0 0;
      background-size: 100%;
      background-color: transparent;

      @include if-dark-mode {
        background-image: url(/images/sun.svg);

        // the sun is smaller on the SVG, so no additional margin needed
        margin: 0;
        height: 2em;
        width: 2em;
      }
    }
    &:hover::after, &:focus::after {
      text-decoration: underline;
    }
  }
}
form:has(#darkmode-checkbox) {
  height: 0;
}

// ********************************************************
//  Responsive design
// ********************************************************

@mixin phone {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}


// ********************************************************
//  Main document structure
// ********************************************************

html {
  // This allows for proper positioning of footer
  position: relative;
  min-height: 100%;
  padding: 0;
}

body {
  background-color: var(--col-secondary-alternate);
  font-family: sans-serif;
  color: var(--col-primary);
  padding: 0;
  margin: 0;
}

main {
  width: 70%;
  margin: auto {
    bottom: 2.5em;
  }
  padding: 2%;

  background-color: var(--col-secondary);

  @include phone {
    display: block;
    width: 96%;
    margin: 0;
    padding-bottom: 30vw;
  }
}

footer {
  position: absolute;
  left: 1em;
  right: 1em;
  bottom: 0.2em;

  text-align: right;

  @include phone { bottom: 18vw; }
}


// ********************************************************
//  Reusable design elements
// ********************************************************

a {
  color: var(--col-link);
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

li {
  margin-bottom: 0.75em;
}

mark {
  background-color: inherit;
  color: var(--col-highlight);
  font-weight: bold;
  font-style: italic;
}

%button {
  font-weight: bold;

  background-color: var(--col-primary);
  color: var(--col-secondary);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover, &:focus {
    background-color: var(--col-primary-highlight);
    text-decoration: none;
  }
}

.button {
  @extend %button;

  display: inline-block;
  padding: 0.5em;

  .button-icon {
    border-radius: 100%;
    width: 1.5em;
    vertical-align: middle;

    @include invert-if-light-mode;
  }
}

@mixin tag($color) {
  display: inline-block;

  font-weight: bold;
  text-align: center;

  padding: 0.3em 0.6em 0.3em 0.6em;
  margin-top: -0.3em;

  background-color: $color;

  @include if-dark-mode {
    color: $link-color;
  }
}

%folder, %unfolder {
  display: inline-block;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

%folder {
  margin-bottom: 0.1em;
  border: {
    top:   0.86em solid var(--col-link);
    left:  0.6em  solid transparent;
    right: 0.6em  solid transparent;
  }
}

%unfolder {
  padding-left: 0.26em;
  border: {
    left:   0.86em solid var(--col-link);
    top:    0.6em  solid transparent;
    bottom: 0.6em  solid transparent;
  }
}


// ********************************************************
//  Navigation sidebar
// ********************************************************

#pictureofme {
  display: block;

  // By setting height to 0 and padding-bottom to same percentage as width,
  // the element gets a square shape.
  width: 8%;
  height: 0;
  padding-bottom: 8%;

  position: fixed;
  right: 1vw;
  top: 6vw;

  border-radius: 100%;

  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }

  &::before {
    content: '';
    display: block;
    background-color: var(--col-primary);

    position: fixed;
    top: 5vw;
    right: 0;

    width: 10%;
    height: 0;
    padding-bottom: 10%;

    z-index: -1;
  }

  @include phone { display: none; }
}

#navigation {
  width: 10%;

  position: fixed;
  right: 0;
  top: 16vw;

  @include phone {
    width: 100%;
    top: initial;
    bottom: 0;

    text-align: center;

    background-color: var(--col-secondary-alternate);
    border-top: solid var(--col-primary) 1px;

    padding: 0;
    padding-top: 0.2em;

    z-index: 1000;
  }
}

.nav-item {
  @extend %button;

  display: block;
  padding: 0.75em;
  margin-bottom: 1em;

  img { display: none; }

  @include phone {
    text-overflow: hidden;
    text-align: center;
    display: inline-block;

    padding: 0.3em;
    margin: 0;

    img {
      display: initial;

      width: 10vw;
      height: 10vw;
      padding: 0.2em;
      margin-bottom: -0.2em;

      background-color: white;
    }

    .nav-label  { display: none; }
  }
}


// ********************************************************
//  Home page styling
// ********************************************************

#banner {
  width: 100%;
  padding: 0;
  margin: 0;

  font-size: 1.1em;

  border-top: solid var(--col-primary) 2px;
  border-bottom: solid var(--col-primary) 2px;

  position: relative;

  & > img {
    display: block;
    width: 40%;
    height: 100%;
    position: relative;
    left: 10%;
    margin: 0;
    padding: 0;

    @include phone { display: none; }
  }

  #main-info {
    display: block;
    width: 42.5%;
    height: 100%;
    position: absolute;
    left: 55%;
    top: 0;

    .position-note {
      font-size: 0.5em;
    }

    .mail {
      height: 1.15em;
      margin-bottom: -.4em;
      @include if-dark-mode {
        @include filter(invert(1) brightness(3));
      }
    }

    @include phone {
      position: initial;
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

    background: linear-gradient(to right, #FFFFFFFF, #CCCCCCFF 23%, #FFFFFF00 26%, #FFFFFF00 70%, #FFFFFFFF);
    @include if-dark-mode {
      background: linear-gradient(to right, #565656FF, #CCCCCCFF 20%, #FFFFFF00 26%, #FFFFFF00 70%, #565656FF);
    }

    @include phone { display: none; }
  }
}

#badges {
  width: 100%;
  margin-top: 1%;
  display: flex;
}

.badge {
  @extend %button;

  flex-basis: 90%;
  height: 2em;
  padding: .5%;

  margin-right: .5%;
  &:last-child {
    margin-right: 0;
  }

  img {
    width: 1.8em;
    height: 1.8em;
    margin: 0 .6em -.6em .4em;

    background-color: white;
    border: solid var(--col-secondary) 1px {
      radius: 100%;
    }
  }

  @include phone {
    text-align: center;
    height: initial;

    img { margin: initial; margin-bottom: -.2em; margin-top: .1em; min-height: 5vw; min-width: 5vw; }
    .badge-label { display: none; }
  }
}


// ********************************************************
//  Publication list
// ********************************************************

.pub-additional-icon {
  height: 1.5em;
  vertical-align: -30%;
  @include invert-if-dark-mode;
}

.pub-additional {
  margin-right: 1%;
  display: inline-block;
}

// Buttons to expand / collapse publications
// --------------------------------------------------------
.pub-unfolder {
  @extend %unfolder;
}
.pub-folder {
  @extend %folder;
  display: none;
}
.pub-extra {
  max-height: 0;
  transition: max-height $collapse-time ease-in-out;
  overflow: hidden;
}

.publication:target {
  .pub-folder { display: inline-block; }
  .pub-unfolder { display: none; }
  .pub-extra {
    max-height: 100vh;
    @include phone {
      max-height: 250vh;
    }
    transition: max-height $collapse-time ease-in-out;
  }
}

// Venue tag
// --------------------------------------------------------
.pub-venue {
  float: right;
}
.pub-workshop {
  @include tag(var(--col-highlight));
  padding-right: 0.3em;
}
.colocation-link {
  @include tag(lightgray);
  color: $primary;
  padding: 0.32em;
}
.pub-colocation {
  @include tag(var(--col-highlight-secondary));
  padding-left: 0.3em;
}
.pub-conference {
  @include tag(var(--col-highlight));
}
.talk-institution {
  @include tag(lightgray);
}

// Author information
// --------------------------------------------------------
.pub-authorline {
  padding-left: 1.5em;
  text-indent: -1.5em;
  clear: right;
}

.author, .author-self {
  white-space: nowrap;

  .author-orcid img {
    width: 1em;
    margin-right: .25em;
    margin-bottom: -.1em;
  }
}
.author-self {
  font-weight: bold;
}

figure {
  width: 100%;
  margin-left: 0;
}
figure > pre {
  border: solid var(--col-primary) 1px;
  padding: 0.5em;
  background-color: var(--col-secondary-alternate);
  overflow: scroll;
}
figcaption {
  font-weight: bold;
  margin-bottom: -0.5em;
}


.pub-list {
  list-style-type: none;
  padding-left: 0;

  li {
    border-bottom: solid var(--col-primary) 2px;
    margin-bottom: 0;
    padding: 0.25em 0.5em;

    &:last-child {
      border: none;
    }

    transition: background-color $fade-time $collapse-time linear, border-width $collapse-time 0s linear;

    // Dark mode uses borders to highlight.
    // They are already set up here, but with 0 width.
    // The :target pseudo-class only adjusts the widths.
    // This allows to transition the border-width (see above) seamlessly.
    @include if-dark-mode {
      border-right: solid var(--col-highlight) 0px;
      border-left: double var(--col-highlight) 0px;
      &:first-child {
        border-top: solid var(--col-highlight) 0px;
      }
      &:last-child {
        border-bottom: solid var(--col-highlight) 0px;
      }
    }

    &:target {
      background-color: var(--col-highlight-alternate);
      transition: background-color $fade-time 0s linear, border-width $collapse-time 0s linear;

      @include if-dark-mode {
        background-color: inherit;
        border-right-width: 0.1em;
        border-left-width: 1em;

        &:first-child {
          border-top-width: 0.1em;
        }
        &:last-child {
          border-bottom-width: 0.1em;
        }
      }
    }
  }
}




// ********************************************************
//  Teaching page
// ********************************************************

.gold-highlight {
  border-left: double var(--col-highlight) 1em;
  background-color: var(--col-highlight-alternate);
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-clip: padding-box;

  @include if-dark-mode {
    background-color: inherit;
    border-bottom: solid var(--col-highlight) 0.1em;
    border-top: solid var(--col-highlight) 0.1em;
    border-right: solid var(--col-highlight) 0.1em;
  }
}

.year-tag {
  @include tag(var(--col-highlight-secondary));

  float: right;
  margin-left: 2px;

  @include phone { float: initial; margin: 0; margin-top: 0.5em; }
}

.lecture-title, .seminar-title, .project-title {
  @include phone {
    &::after {
      content: "\A";
      white-space: pre;
    }
  }
}

.lecture-list, .seminar-list {
  list-style-type: disc;
  padding-left: 1em;
}

.project-title {
  font-style: italic;
  break-after: region column;
}

.project-list {
  list-style-type: none;
  padding-left: 0;

  @include phone {
    list-style-type: disc;
    padding-left: 1em;
  }
}

.project-type {
  @include tag(var(--col-highlight));

  width: 7em;
  margin-right: 1em;
  float: left;

  @include phone {
    float: initial;
    margin-right: 0;
    margin-top: 0.5em;
  }
}

.project-year {
  @include tag(var(--col-highlight-secondary));
  float: right;

  @include phone { float: initial; }
}


.talk-link img {
  width: 0.8em;
  visibility: hidden;
}
li:hover, li:focus {
 .talk-link img {
    visibility: visible;
    @include invert-if-dark-mode;
  }
}


.talk-date {
  font-size: 1.3em;
  font-weight: bold;
}
.pub-title, .talk-title, .talk-link {
  font-size: 1.3em;
  font-style: italic;

  @include phone {
    max-width: 90% !important;

    & + .pub-venue {
      float: initial;
      display: block;
      margin: 0;
      margin-top: 0.75em;
    }
  }
}

.pub-title {
  display: inline-block;
  vertical-align: top;
  max-width: 85%;
}

