<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="canonical" href="{{ page.url | absolute_url }}" />

    <link rel="stylesheet" type="text/css" href="{{ '/style/default.css' | absolute_url }}" />
    <link rel="icon" type="image/svg+xml"  href="{{ '/images/logo.svg' | absolute_url }}" />
    <link rel="icon" type="image/svg+xml"  href="{{ '/images/logo.png' | absolute_url }}" />
  </head>
  <body>
    <div id="wrapper">
    {{ content }}
    </div>
    <a id="pictureofme" href="{{ '' | absolute_url }}/">
      <img alt="" src="{{ '/images/dominik.jpg' | absolute_url }}"/>
    </a>
    <div id="navigation">
      {% for item in site.data.navigation %}
        <a class="nav-item" title="{{ item.item }}" href="{{ item.link | absolute_url }}">
          <img alt="{{ item.item }}" class="nav-icon" src="{{ '/images/' | append: item.icon | absolute_url }}" />
          <span class="nav-label">{{ item.item }}</span>
        </a>
      {% endfor %}
    </div>

    <div id="footer">
      <a href="{{ '/credits' | absolute_url }}">Credits</a>
    </div>
  </body>
</html>
